.nav-link{
    cursor: pointer;
    transition: 2s;
}
.nav-link:hover{
    background-color: rgb(211, 19, 211);   
}
.nav-link a:hover{
    color:white;
}




@media print{
    #order_table_print{
        background: rgb(201, 47, 47);
    }
    #bt_displaty_none{
        display:none;
    }
    #nav_hidden{
        display: none;
    }
    #back_to_table_bt{
        display: none;
    }
    
}