.navbar-brand{
    cursor: pointer;
}

.card-body h1{
    cursor: pointer;
}
.navbar-nav .nav-item .nav-link{
    text-transform: capitalize;
}




@media print{
    #order_table_print{
        background: rgb(201, 47, 47);
    }
    #bt_displaty_none{
        display:none;
    }
    #nav_hidden{
        display: none;
    }
    #back_to_table_bt{
        display: none;
    }
    
}